services:
  postgres:
    image: postgres:16-alpine
    container_name: expense_tracker_db
    environment:
      POSTGRES_DB: money_tracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: expense_tracker_2024
      # Cho phép kết nối không cần password (chỉ dùng cho development)
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
